@import "./style.css";

 
/* Стилі для розділів */
#biography {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: justify;
}
   
#works {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: justify;
}
   
#legacy {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: justify;
}
   
#study {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: justify;
}