@import "./style.css";


/* Стилі для розділів */
#overview {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: justify;
}
   
#plot {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: justify;
}
   
#themes {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: justify;
}
   
#influence {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: justify;
}