@import "./style.css";


/* Стилі для розділів */
#overview {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: justify;
}
   
#characteristics {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: justify;
}
   
#authors {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: justify;
}
