/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
 
main {
    background-color: #eee;
}

div.section {
    padding: 20px;
}

div.section h2 {
    margin-top: 0px;
}

/* Стилі поля вибору*/
.choice-box {
    display: flex;
    flex-wrap: wrap;
}

.choice-box a {
    text-decoration: none;
}

.choice-item {
    background-color: #ddc;
    width: 200px;
    margin: 20px;
}

.choice-item:hover {
    transform: scale(1.05);
}

.choice-item img {
    width: 180px;
    height: 240px;
    margin: 10px;
}

.choice-item p {
    color: #e95;
    text-align: center;
    font-size: 18px;
    margin: 10px;
    padding-bottom: 10px;
}



/* Стилі для хедера */
header {
    background-color: #555;
    color: #fff;
    padding: 20px;
}
   
header h1 {
    margin: 0;
    text-align: center;
}
   
   
header a {
    color: #fff;
    text-decoration: none;
}
   
header a:hover {
    text-decoration: underline;
}
   
/* Стилі для футера */
footer {
    background-color: #555;
    color: #fff;
    padding: 20px;
    text-align: center;
}